<article *ngIf="article$ | async as article">
    <h2 class="title title--margin">{{ article.title }}</h2>
    <ul class="info__container ">
        <li class="info__item">{{ article.tag }}</li>
        <li class="info__item">Added by
            <span class="info__mark">{{ article.author }}</span>
        </li>
        <li class="info__item">{{ article.date }}</li>
    </ul>
    <div class="actions__container">
    </div>
    <img src="{{ article.imgUrl }}" alt="Image">
    <div class="content__container">
        <p>{{ article.content }}</p>
    </div>

</article>
