<div class="container">
  <nav class="nav">
    <ul class="nav__container">
      <li class="nav__item">
        <a href="" class="nav__link">Travel updates</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Reviews</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Contact</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer class="footer">
    <a href="#" class="footer__link">previous</a>
    <a href="#" class="footer__link">next</a>
  </footer>
</div>